.fruits_list {
    display: flex; 
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
}
.fruit-item {
    max-width: 300px;
    box-shadow: 3px 3px 30px 6px;
    border-radius: 10px;
    padding: 5px;
}
img{
   width: 100%;
   max-width: 100%; 
}